.dropdown {
  position: absolute;
  width: 300px;
  height: 650px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #44bcd8;
  background-color: white;
  top: 90px;
  right: 40vw;
  z-index: 5;

  .inputs-field {
    height: 300px;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &.bigger {
      height: 600px;
    }
  }
}
